body {
    background-color: lightyellow;
}

#members li {
    cursor: move;
}
.highlighted {
    background-color: yellow;
}
.validtarget {
    background-color: lightblue;
}

fieldset ul {
    min-height: 50px;
    min-width: 100px;
}

#droptarget {
    width: 500px;
    height: 500px;
    border: 1px solid gray;
}